- content_for :header_css do
  = stylesheet_link_tag 'setting'

= nav_tab_tag([settings_path, '基本设置'], [avatar_setting_path, '头像设置'], [reset_password_path, '修改密码'])
.content_detail
  = render 'shared/flash_notice'
  .reset_password_form
    = form_tag reset_password_path do 
      .orignal_password
        %span.title.left 旧密码：
        %input.form-text.w300{ :type => 'password', :name => 'orig_password' }
      .new_password
        %p
          %span.title.left 新密码：
          %input.form-text.w300{ :type => 'password', :name => 'password' }
        %p
          %span.title.left 确认新密码：
          %input.form-text.w300{ :type => 'password', :name => 'password_confirmation' }
      .actions
        %p.mt10
          %input.button.submit{ :type => 'submit', :value => '确认' }        