$bg: none repeat scroll 0 0 #F5F3EF;
$size: 12px;

.category_container {
  background: $bg;
  padding: 5px 10px;
  height:auto;
  p.title { color: #999999; margin: 4px; font-size: 14px; }

  .recommand_panel {
    padding: 10px 0px;
    border-bottom: 1px solid #CCC;
    height: 120px;

    .left_form {
      width: 42%;
      padding: 20px 0px;
    }

    .right_list {
      width: 50%;
      height: 100px;
/*      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 3px 3px 3px 3px;*/
      font-size: 12px;
      
      .categoryList {
        a.category {
          background-color: #FFF;
          color: #3B5998;
          display: inline-block;
          font-size: 14px;
          height: 24px;
          line-height: 24px;
          margin: 2px 2px 2px 0;
          padding: 0 10px;
          cursor: pointer;
          border: 1px solid #3B5998;
        }
      }
    }

  }

  .categories_list_panel {
    /*clear: both;*/
    min-height: 300px;
    height: auto;
    p { margin-bottom: 10px; }
    dl {
      font-size: 14px;
      background: none repeat scroll 0 0 #FFFFFF;
      /*padding: 3px 3px;*/
      color: #3B5998;
      float: left;
      border: 1px solid #3B5998;
      margin: 5px 5px;
      dd { float: left; padding: 3px 4px; }
      dd.category_name { input { display: none; width: 60px; } }
      dd.close_tag { border-left: 1px solid #3B5998; width: 16px; text-align: center; cursor: pointer; }
      dd.close_tag:hover { background: none repeat scroll 0 0 #3B5998; color: #FFFFFF; }
    }
  }  
}
