/*
 *= require 'skin/twitter'
*/

$base-color: #FEFEFE;
$red: #FF0000;
$gray: #8C8C8C;
$size: 14px;

* {
  margin: 0;
  padding: 0;  
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: url('no-login-bg.png') repeat scroll 0 0 transparent;
}

.public-main-container {
  height: auto;
}

.header-nav {
  color: $base-color;
  font-size: $size;
  height: 30px;
  margin: 20px 50px;
}

.user-guide {
  a { text-decoration: none; }
  .register {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 14px;
    padding: 3px 15px;    
  }
  .register:hover {  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15); } 
}

.mian-container { width: auto; }

.container {
  width: auto;
  .site-name { font-size: 48px; color: $base-color; }
  .login {
    width: 700px;
    margin: 100px auto;
    .site-desc { 
      width: auto;
      .desc { font-size: 12px; line-height: 18px; margin-top: 10px; color: $gray; text-align: center; }
    }
    .login-form {
      width: 300px;
      margin-left: 60px;
    }    
  }

  .register {
    width: 400px;
    margin: 100px auto;
    .register-form {}
  }
}



.footer {
  margin-top: 580px;
  text-align: center;
  font-size:12px;
  color: $gray;
  a { color: $base-color; text-decoration: none; font-weight: bold; }
  a:hover { color: $red;} 
}

