- @users.each do |user|
  %dl{ :class => cycle('odd', 'even') }
    %dd.left= user.login
    %dd.right
      最后登录时间：
      %span= user.last_login_at.strftime('%F %T')
    %dd.right{ :style => 'margin-right:15px;' }
      注册于：
      %span= user.created_at.strftime('%F %T')


.paginate      
  = will_paginate @users 