<!DOCTYPE html>
%html
  %head
    %title 花哪儿了 - 后台管理
    = stylesheet_link_tag 'application', 'admin'
    %link{ :href => image_path('favicon.ico'), :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' }
    = csrf_meta_tags
  %body
    .manage_panel
      .navigation
        %ul
          %li
            %a{ :href => admin_users_path } 新注册用户
          %li
            %a{ :href => admin_users_path(:order_by => 'login_time') } 最近有登录的用户
          %li
            %a{ :href => user_blogs_admin_users_path } 日志列表
          %li
            %a{ :href => user_subjects_admin_users_path } 主题列表

      .list_container                                    
        = yield
